{% extends 'base.html' %}
{% load static %}
{% block content %}
     <!-- ======= Breadcrumbs ======= -->
        <div class="breadcrumbs" data-aos="fade-in">
            <div class="container">
                <h2>Pricing</h2>
                <p>At Makini Institute, we believe in providing value-driven services to enhance your educational journey.
                    Our pricing structure is transparent and designed to accommodate the diverse needs of our students.
                    Tuition fees are tailored to specific programs, ensuring fair and equitable access to quality education.
                    Additionally, our student services, such as campus facilities, library access, and extracurricular activities,
                    are included within the comprehensive fee structure. We understand the importance of financial planning,
                    and our commitment is to offer competitive pricing while maintaining the highest standards of academic excellence.
                    Scholarships and financial aid options are also available, further demonstrating our dedication to making education
                    accessible. At Makini, we prioritize the holistic development of our students, and our pricing reflects
                    our commitment to providing an exceptional educational experience that prepares you for a successful future.
                    Explore the world of possibilities within your reach at Makini Institute, where affordability meets excellence.</p>
            </div>
        </div>
        <!-- End Breadcrumbs -->
    <!-- ======= Pricing Section ======= -->
    <section id="pricing" class="pricing">

        <div class="container" data-aos="fade-up">

            <div class="row">
                {% for product in products %}
                    <div class="col-lg-3 col-md-6">
                        <div class="box">
                            <h3>{{ product.name }} - {{ product.duration }}</h3>
                            <h4>Ksh. {{ product.price }}<span> / month</span></h4>
                            <!--<ul>
                                <li>Aida dere</li>
                                <li>Nec feugiat nisl</li>
                                <li>Nulla at volutpat dola</li>
                                <li class="na">Pharetra massa</li>
                                <li class="na">Massa ultricies mi</li>
                            </ul>-->
                            <p>{{ product.description }}</p>
                            <div class="btn-wrap">
                                <a href="/products/buy_course/{{ product.id }}" class="btn-buy">Buy Now</a><br><br>
                                 <a href="/products/delete_course/{{ product.id }}" class="btn-buy">Delete Course</a><br><br>
                                <a href="#" class="btn-buy">Update Course</a><br><br>
                            </div>
                        </div>
                    </div>

                {% endfor %}
            </div>

        </div>

    </section><!-- End Pricing Section -->
{% endblock %}