{% extends 'base.html' %}
{% load static %}
{% block content %}



    <main id="main">
        <!-- ======= Breadcrumbs ======= -->
        <div class="breadcrumbs" data-aos="fade-in">
            <div class="container">
                <h2>About Us</h2>
                <p>At Makini Institute, we stand at the intersection of innovation and education, dedicated to shaping the future
                    leaders of tomorrow. Established with a vision to inspire and empower, we embark on a journey of academic
                    excellence, fostering a dynamic learning environment that transcends boundaries.</p>
            </div>
        </div><!-- End Breadcrumbs -->

        <!-- ======= About Section ======= -->
        <section id="about" class="about">
            <div class="container" data-aos="fade-up">

                <div class="row">
                    <div class="col-lg-6 order-1 order-lg-2" data-aos="fade-left" data-aos-delay="100">
                        <img src="{% static 'assets/img/Kephas.jpg' %}" class="img-fluid" alt="">
                    </div>
                    <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content">
                        <h3>Our Commitment to Excellence</h3>
                        <p class="fst-italic">
                           Makini Institute is more than an educational institution; it's a vibrant community committed to
                            nurturing intellects, fostering creativity, and instilling values that extend beyond the classroom.

                        </p>
                        <ul>
                            <li><i class="bi bi-check-circle"></i> We believe in a holistic approach to education, where academic rigor
                                is complemented by real-world experiences. Our comprehensive programs are designed to not only impart
                                knowledge but also instill critical thinking, problem-solving skills, and a global perspective.</li>
                            <li><i class="bi bi-check-circle"></i> In a rapidly evolving world, innovation is key. Makini Institute is at the forefront
                                of cutting-edge research and technology, ensuring that our students are well-equipped to navigate the challenges of the
                                future.</li>
                            <li><i class="bi bi-check-circle"></i> Makini Institute embraces diversity and promotes a global outlook.
                                We celebrate a rich tapestry of cultures, ideas, and perspectives, preparing our students to become
                                global citizens who can make a positive impact locally and internationally.</li>
                        </ul>
                        <p>
                           Beyond academics, Makini Institute is deeply rooted in community engagement. We believe in giving
                            back and creating a positive impact on society.
                        </p>

                    </div>
                </div>

            </div>
        </section><!-- End About Section -->

        <!-- ======= Counts Section ======= -->
        <section id="counts" class="counts section-bg">
            <div class="container">

                <div class="row counters">

                    <div class="col-lg-3 col-6 text-center">
                        <span data-purecounter-start="0" data-purecounter-end="1232" data-purecounter-duration="1" class="purecounter"></span>
                        <p>Students</p>
                    </div>

                    <div class="col-lg-3 col-6 text-center">
                        <span data-purecounter-start="0" data-purecounter-end="64" data-purecounter-duration="1" class="purecounter"></span>
                        <p>Courses</p>
                    </div>

                    <div class="col-lg-3 col-6 text-center">
                        <span data-purecounter-start="0" data-purecounter-end="42" data-purecounter-duration="1" class="purecounter"></span>
                        <p>Events</p>
                    </div>

                    <div class="col-lg-3 col-6 text-center">
                        <span data-purecounter-start="0" data-purecounter-end="15" data-purecounter-duration="1" class="purecounter"></span>
                        <p>Trainers</p>
                    </div>

                </div>

            </div>
        </section><!-- End Counts Section -->

        <!-- ======= Testimonials Section ======= -->
        <section id="testimonials" class="testimonials">
            <div class="container" data-aos="fade-up">

                <div class="section-title">
                    <h2>Testimonials</h2>
                    <p>What are they saying</p>
                </div>

                <div class="testimonials-slider swiper" data-aos="fade-up" data-aos-delay="100">
                    <div class="swiper-wrapper">

                        <div class="swiper-slide">
                            <div class="testimonial-wrap">
                                <div class="testimonial-item">
                                    <img src="{% static 'assets/img/testimonials/Lemoti.jpg' %}" class="testimonial-img" alt="">
                                    <h3>Ondeyo Newton Odhiambo</h3>
                                    <h4>Ceo &amp; Founder</h4>
                                    <p>
                                        <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                                       Makini Institute has been a transformative experience for me. The challenging curriculum,
                                        coupled with supportive faculty, has not only expanded my knowledge but also honed my critical
                                        thinking skills. Makini is not just a Institute; it's a launchpad for success.” - [Student Name, Program]
                                        <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                                    </p>
                                </div>
                            </div>
                        </div><!-- End testimonial item -->

                        <div class="swiper-slide">
                            <div class="testimonial-wrap">
                                <div class="testimonial-item">
                                    <img src="{% static 'assets/img/testimonials/Grace.jpg' %}" class="testimonial-img" alt="">
                                    <h3>Grace Ngari</h3>
                                    <h4>Designer</h4>
                                    <p>
                                        <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                                       The global perspective I gained at Makini Institute has been instrumental in my career.
                                        The emphasis on cultural diversity and international exposure prepared me to navigate the
                                        complexities of the global business landscape. Makini has been my foundation for success.
                                        ” - [Alumni Name, Graduation Year]
                                        <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                                    </p>
                                </div>
                            </div>
                        </div><!-- End testimonial item -->

                        <div class="swiper-slide">
                            <div class="testimonial-wrap">
                                <div class="testimonial-item">
                                    <img src="{% static 'assets/img/testimonials/Prof.-Romanus-Odhiambo-Ph.D.jpg' %}" class="testimonial-img" alt="">
                                    <h3>Consolata Adhiambo</h3>
                                    <h4>Store Owner</h4>
                                    <p>
                                        <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                                       The global perspective I gained at Makini Institute has been instrumental in my career. The emphasis on cultural diversity and international
                                        exposure prepared me to navigate the complexities of the global business landscape. Makini has been my foundation for success.”
                                        - [Alumni Name, Graduation Year]
                                        <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                                    </p>
                                </div>
                            </div>
                        </div><!-- End testimonial item -->

                        <div class="swiper-slide">
                            <div class="testimonial-wrap">
                                <div class="testimonial-item">
                                    <img src="{% static 'assets/img/testimonials/Martin-Kinoti.jpg' %}" class="testimonial-img" alt="">
                                    <h3>Wesley Kiplagat</h3>
                                    <h4>Freelancer</h4>
                                    <p>
                                        <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                                        “As a parent, I am impressed by the nurturing environment Makini Institute provides. The faculty's dedication to the success of
                                        each student is evident, and the support system ensures that my child is not just a student but an integral part of a caring community.”
                                        - [Parent Name]
                                        <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                                    </p>
                                </div>
                            </div>
                        </div><!-- End testimonial item -->

                        <div class="swiper-slide">
                            <div class="testimonial-wrap">
                                <div class="testimonial-item">
                                    <img src="{% static 'assets/img/testimonials/Stephen.jpg' %}" class="testimonial-img" alt="">
                                    <h3>Paul Kariuki</h3>
                                    <h4>Entrepreneur</h4>
                                    <p>
                                        <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                                        “The entrepreneurship program at Makini Institute provided me with the skills and mindset needed to launch my own business.
                                        The practical approach to learning and mentorship from industry experts were invaluable. Makini empowers its students to become
                                        future leaders and innovators.” - [Entrepreneur Name, Graduation Year]
                                        <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                                    </p>
                                </div>
                            </div>
                        </div><!-- End testimonial item -->

                    </div>
                    <div class="swiper-pagination"></div>
                </div>

            </div>
        </section><!-- End Testimonials Section -->

    </main><!-- End #main -->





{% endblock %}