{% extends 'base.html' %}
{% load static %}
{% block content %}



    <main id="main">

        <!-- ======= Breadcrumbs ======= -->
        <div class="breadcrumbs" data-aos="fade-in">
            <div class="container">
                <h2>Course Details</h2>
                <p>Welcome to Makini University, where education meets excellence. Our diverse range
                    of courses is designed to empower students with the knowledge and skills needed
                    to succeed in their chosen fields. Explore the exciting academic opportunities
                    we offer:</p>
            </div>
        </div><!-- End Breadcrumbs -->

        <!-- ======= Cource Details Section ======= -->
        <section id="course-details" class="course-details">
            <div class="container" data-aos="fade-up">

                <div class="row">
                    <div class="col-lg-8">
                        <img src="{% static 'assets/img/course-details.jpg' %}" class="img-fluid" alt="">
                        <h3>Bachelor of Science in Computer Science</h3>
                        <p>
                            Duration: 4 years<br>
                            Overview: Our Bachelor of Science in Computer Science program provides a
                            comprehensive foundation in computer science principles, programming
                            languages, and software development. Students delve into cutting-edge
                            technologies, preparing them for dynamic careers in the ever-evolving
                            field of computing
                        </p>
                    </div>
                    <div class="col-lg-4">

                        <div class="course-info d-flex justify-content-between align-items-center">
                            <h5>Trainer</h5>
                            <p><a href="#">Prof Romanus Odhiambo</a></p>
                        </div>

                        <div class="course-info d-flex justify-content-between align-items-center">
                            <h5>Course Fee</h5>
                            <p>$165</p>
                        </div>

                        <div class="course-info d-flex justify-content-between align-items-center">
                            <h5>Available Seats</h5>
                            <p>30</p>
                        </div>

                        <div class="course-info d-flex justify-content-between align-items-center">
                            <h5>Schedule</h5>
                            <p>5.00 pm - 7.00 pm</p>
                        </div>

                    </div>
                </div>

            </div>
        </section><!-- End Cource Details Section -->

        <!-- ======= Cource Details Tabs Section ======= -->
        <section id="cource-details-tabs" class="cource-details-tabs">
            <div class="container" data-aos="fade-up">

                <div class="row">
                    <div class="col-lg-3">
                        <ul class="nav nav-tabs flex-column">
                            <li class="nav-item">
                                <a class="nav-link active show" data-bs-toggle="tab" href="#tab-1">Career Opportunities:</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-bs-toggle="tab" href="#tab-2">Software Developer/Engineer</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-bs-toggle="tab" href="#tab-3">Data Scientist/Analyst</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-bs-toggle="tab" href="#tab-4">Artificial Intelligence Engineer</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-bs-toggle="tab" href="#tab-5">Database Administrator</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-lg-9 mt-4 mt-lg-0">
                        <div class="tab-content">
                            <div class="tab-pane active show" id="tab-1">
                                <div class="row">
                                    <div class="col-lg-8 details order-2 order-lg-1">
                                        <h3>Admission Requirements:</h3>
                                        <p class="fst-italic">To enroll in the Bachelor of Science in Computer Science program, applicants must meet the following requirements:<br>

                                            1.High school diploma or equivalent<br>
                                            2.Proficiency in mathematics<br>
                                            3.[Any additional requirements specific to Makini University]<br>
                                            How to Apply:<br>
                                            To apply for admission or inquire further about the program, please contact our admissions office at [Contact Information].</p>
                                    </div>
                                    <div class="col-lg-4 text-center order-1 order-lg-2">
                                        <img src="{% static 'assets/img/course-details-tab-1.png' %}" alt="" class="img-fluid">
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane" id="tab-2">
                                <div class="row">
                                    <div class="col-lg-8 details order-2 order-lg-1">
                                        <h3>Software Developer/Engineer</h3>
                                        <p class="fst-italic">A Database Administrator (DBA) is a professional responsible for the design, implementation, maintenance,
                                            and management of an organization's databases. Their primary role is to ensure that databases operate efficiently, securely,
                                            and reliably to meet the needs of the organization and its users</p>
                                        <p>A Database Administrator (DBA) is a professional responsible for the design, implementation, maintenance, and management of an
                                            organization's databases. Their primary role is to ensure that databases operate efficiently, securely, and reliably to meet the needs
                                            of the organization and its users</p>
                                    </div>
                                    <div class="col-lg-4 text-center order-1 order-lg-2">
                                        <img src="{% static 'assets/img/course-details-tab-2.png' %}" alt="" class="img-fluid">
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane" id="tab-3">
                                <div class="row">
                                    <div class="col-lg-8 details order-2 order-lg-1">
                                        <h3>Artificial Intelligence Engineer</h3>
                                        <p class="fst-italic">A Database Administrator (DBA) is a professional responsible for the design, implementation, m
                                            aintenance, and management of an organization's databases. Their primary role is to ensure that databases operate efficiently,
                                            securely, and reliably to meet the needs of the organization and its users</p>
                                        <p>A Database Administrator (DBA) is a professional responsible for the design, implementation, maintenance, and management
                                            of an organization's databases. Their primary role is to ensure that databases operate efficiently, securely, and reliably to
                                            meet the needs of the organization and its userse</p>
                                    </div>
                                    <div class="col-lg-4 text-center order-1 order-lg-2">
                                        <img src="{% static 'assets/img/course-details-tab-3.png' %}" alt="" class="img-fluid">
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane" id="tab-4">
                                <div class="row">
                                    <div class="col-lg-8 details order-2 order-lg-1">
                                        <h3>Database Administrator</h3>
                                        <p class="fst-italic">A Database Administrator (DBA) is a professional responsible for the design, implementation, maintenance,
                                            and management of an organization's databases. Their primary role is to ensure that databases operate efficiently, securely, and reliably to meet the needs of the organization and its users</p>
                                    </div>
                                    <div class="col-lg-4 text-center order-1 order-lg-2">
                                        <img src="{% static 'assets/img/course-details-tab-4.png' %}" alt="" class="img-fluid">
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane" id="tab-5">
                                <div class="row">
                                    <div class="col-lg-8 details order-2 order-lg-1">
                                        <h3>Database Administrator</h3>
                                        <p class="fst-italic">>A Database Administrator (DBA) is a professional responsible for the design, implementation, maintenance,
                                            and management of an organization's databases. Their primary role is to ensure that databases operate efficiently, securely, and reliably to meet the </p>
                                        <p>A Database Administrator (DBA) is a professional responsible for the design, implementation, maintenance, and management of an
                                            organization's databases. Their primary role is to ensure that databases operate efficiently, securely, and reliably to meet t
                                            he needs of the organization and its users</p>
                                    </div>
                                    <div class="col-lg-4 text-center order-1 order-lg-2">
                                        <img src="{% static 'assets/img/course-details-tab-5.png' %}" alt="" class="img-fluid">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </section><!-- End Cource Details Tabs Section -->

    </main><!-- End #main -->




{% endblock %}