{% extends 'base.html' %}
{% load static %}
{% block content %}




    <main id="main" data-aos="fade-in">

        <!-- ======= Breadcrumbs ======= -->
        <div class="breadcrumbs">
            <div class="container">
                <h2>Courses</h2>
                <p>At Makini Institute, we believe that education is the key to unlocking potential. Our diverse range of courses is crafted to empower students with knowledge,
                    skills, and experiences that go beyond the traditional classroom setting. From cutting-edge technology programs to creative arts and business innovations,
                    our courses are designed to meet the evolving demands of the modern world.</p>
            </div>
        </div><!-- End Breadcrumbs -->

        <!-- ======= Courses Section ======= -->
        <section id="courses" class="courses">
            <div class="container" data-aos="fade-up">

                <div class="row" data-aos="zoom-in" data-aos-delay="100">

                    <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
                        <div class="course-item">
                            <img src="{% static 'assets/img/course-1.jpg' %}" class="img-fluid" alt="...">
                            <div class="course-content">
                                <div class="d-flex justify-content-between align-items-center mb-3">
                                    <h4>Web Development</h4>
                                    <p class="price">$169</p>
                                </div>

                                <h3><a href="{% url 'course_details-url' %}">Website Design</a></h3>
                                <p>Embark on a journey of digital creativity and technical innovation with Makini Institute's Web Development and Design Course.
                                    Unleash your potential to shape the online world through hands-on experiences and cutting-edge curriculum.
                                    Whether you're passionate about crafting visually stunning websites or diving into the intricacies of coding,
                                    this course provides a dynamic blend of design principles and programming skills.</p>
                                <div class="trainer d-flex justify-content-between align-items-center">
                                    <div class="trainer-profile d-flex align-items-center">
                                        <img src="{% static 'assets/img/trainers/ibrahim.jpg' %}" class="img-fluid" alt="">
                                        <span>Ibrahim Samuel Mutua</span>
                                    </div>
                                    <div class="trainer-rank d-flex align-items-center">
                                        <i class="bx bx-user"></i>&nbsp;50
                                        &nbsp;&nbsp;
                                        <i class="bx bx-heart"></i>&nbsp;65
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div> <!-- End Course Item-->

                    <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0">
                        <div class="course-item">
                            <img src="{% static 'assets/img/course-2.jpg' %}" class="img-fluid" alt="...">
                            <div class="course-content">
                                <div class="d-flex justify-content-between align-items-center mb-3">
                                    <h4>Marketing</h4>
                                    <p class="price">$250</p>
                                </div>

                                <h3><a href="{% url 'course_details-url' %}">Search Engine Optimization</a></h3>
                                <p>Unlock the secrets to digital visibility and online success with Makini Institute's Search Engine Optimization (SEO) Course.
                                    In a world where online presence is paramount, mastering the art and science of SEO is essential for individuals aspiring
                                    to make a mark in the digital landscape.</p>
                                <div class="trainer d-flex justify-content-between align-items-center">
                                    <div class="trainer-profile d-flex align-items-center">
                                        <img src="{% static 'assets/img/trainers/Grace.jpg' %}" class="img-fluid" alt="">
                                        <span>Grace Ngari</span>
                                    </div>
                                    <div class="trainer-rank d-flex align-items-center">
                                        <i class="bx bx-user"></i>&nbsp;35
                                        &nbsp;&nbsp;
                                        <i class="bx bx-heart"></i>&nbsp;42
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div> <!-- End Course Item-->

                    <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0">
                        <div class="course-item">
                            <img src="{% static 'assets/img/course-3.jpg' %}" class="img-fluid" alt="...">
                            <div class="course-content">
                                <div class="d-flex justify-content-between align-items-center mb-3">
                                    <h4>Content</h4>
                                    <p class="price">$180</p>
                                </div>

                                <h3><a href="{% url 'course_details-url' %}">Copywriting</a></h3>
                                <p>Elevate your communication skills and become a master storyteller with Makini Institute's Content Writing Course.
                                    In an era where compelling content is the heartbeat of every successful digital presence, this course is tailored
                                    to empower aspiring writers and communicators with the skills needed to craft engaging, impactful, and purpose-driven content.</p>
                                <div class="trainer d-flex justify-content-between align-items-center">
                                    <div class="trainer-profile d-flex align-items-center">
                                        <img src="{% static 'assets/img/trainers/Lemoti.jpg' %}" class="img-fluid" alt="">
                                        <span>Lemoti England George</span>
                                    </div>
                                    <div class="trainer-rank d-flex align-items-center">
                                        <i class="bx bx-user"></i>&nbsp;20
                                        &nbsp;&nbsp;
                                        <i class="bx bx-heart"></i>&nbsp;85
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div> <!-- End Course Item-->

                </div>

            </div>
        </section><!-- End Courses Section -->

    </main><!-- End #main -->




{% endblock %}