{% extends 'base.html' %}
{% load static %}
{% block content %}




    <main id="main" data-aos="fade-in">

        <!-- ======= Breadcrumbs ======= -->
        <div class="breadcrumbs">
            <div class="container">
                <h2>Trainers</h2>
                <p>At Makini Institute, our success is fueled by the passion, expertise, and dedication of our exceptional staff. Our team comprises a diverse group of educators,
                    administrators, and support professionals, united by a common commitment to fostering a transformative learning environment.</p>
            </div>
        </div><!-- End Breadcrumbs -->

        <!-- ======= Trainers Section ======= -->
        <section id="trainers" class="trainers">
            <div class="container" data-aos="fade-up">

                <div class="row" data-aos="zoom-in" data-aos-delay="100">
                    <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
                        <div class="member">
                            <img src="{% static 'assets/img/trainers/Prof.-Romanus-Odhiambo-Ph.D.jpg' %}" class="img-fluid" alt="">
                            <div class="member-content">
                                <h4>PROF. ROMANUS ODHIAMBO, PH.D</h4>
                                <span>Web Development</span>
                                <p>
                                    Prof .Romanus Odhiambo brings a unique blend of passion and expertise to the classrooms of Makini Institute as our esteemed Web Development
                                    instructor. With a dynamic career in the tech industry, Romanus is not just an educator but a seasoned professional who has
                                    navigated the ever-evolving landscape of web development.
                                </p>
                                <div class="social">
                                    <a href=""><i class="bi bi-twitter"></i></a>
                                    <a href=""><i class="bi bi-facebook"></i></a>
                                    <a href=""><i class="bi bi-instagram"></i></a>
                                    <a href=""><i class="bi bi-linkedin"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
                        <div class="member">
                            <img src="{% static 'assets/img/trainers/Dr-Jane-Wangui-1.JPG' %}" class="img-fluid" alt="">
                            <div class="member-content">
                                <h4>Dr. JANE WANGUI KIRINGAI</h4>
                                <span>Marketing</span>
                                <p>
                                    Makini Institute proudly welcomes Dr. Jane Wangui, a seasoned professional and inspiring educator, as the driving force behind our Marketing program.
                                    With a wealth of experience in the dynamic world of marketing, Jane brings a unique blend of industry insights and academic excellence to the classroom.
                                <div class="social">
                                    <a href=""><i class="bi bi-twitter"></i></a>
                                    <a href=""><i class="bi bi-facebook"></i></a>
                                    <a href=""><i class="bi bi-instagram"></i></a>
                                    <a href=""><i class="bi bi-linkedin"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
                        <div class="member">
                            <img src="{% static 'assets/img/trainers/Martin-Kinoti.JPG' %}" class="img-fluid" alt="">
                            <div class="member-content">
                                <h4>MARTIN KINOTI</h4>
                                <span>Content</span>
                                <p>
                                   Makini Institute proudly introduces Martin Kinoti, a seasoned wordsmith and dedicated educator, at the forefront of our Content Writing program.
                                    With a wealth of experience in the art of storytelling and a passion for language, Martin guides students through the nuances of effective
                                    communication and creative expression.
                                </p>
                                <div class="social">
                                    <a href=""><i class="bi bi-twitter"></i></a>
                                    <a href=""><i class="bi bi-facebook"></i></a>
                                    <a href=""><i class="bi bi-instagram"></i></a>
                                    <a href=""><i class="bi bi-linkedin"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </section><!-- End Trainers Section -->

    </main><!-- End #main -->




{% endblock %}